En este notebook se trabajará con el dataset **"google_relative_results_sitios"** para su transformación. De resultado se obtendrá una tabla que contenga únicamente los id de los negocios que están en los cinco estados elegidos para este proyecto correspondientes a las categorías también preseleccionadas. La misma, luego, será subida a nuestra base de datos.
Este dataset contiene información de los id de los negocios y los id de los negocios relacionados.

Como primer paso voy a importar el dataset.

In [1]:
import pandas as pd

relative_results = pd.read_parquet(r"C:\Users\Juli\Desktop\Data Science\Archivos Proyecto Final\google_relative_results_sitios.parquet")
relative_results.head()

,gmap_id,relative_results
0,0x88f16e41928ff687:0x883dad4fd048e8f8,0x88f16e41929435cf:0x5b2532a2885e9ef6
0,0x88f16e41928ff687:0x883dad4fd048e8f8,0x88f16c32716531c1:0x5f19bdaa5044e4fa
0,0x88f16e41928ff687:0x883dad4fd048e8f8,0x88f16e6e3f4a21df:0xcf495da9bb4d89ea
1,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,0x80c2c624136ea88b:0xb0315367ed448771
1,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,0x80c2c97cb7c52f17:0xb66ee68c1c366f2d

In [2]:
relative_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12399597 entries, 0 to 3025010
Data columns (total 2 columns):
 #   Column            Dtype
---  ------            -----
 0   gmap_id           object
 1   relative_results  object
dtypes: object(2)
memory usage: 283.8+ MB

Importaré el dataframe "vi.g_sitios". Realizaré una unión entre ambos dataframes para luego filtrar por las categorías y estados elegidos.

In [3]:
sitios= pd.read_parquet(r"C:\Users\Juli\Desktop\Data Science\Archivos Proyecto Final\v1.g_sitios.parquet")
sitios.head()

,name,gmap_id,avg_rating,num_of_reviews,url,monday,tuesday,wednesday,thursday,friday,saturday,sunday,category_general_id,id_estado
0,Oneyda's Bakery,0x88dae191ee505917:0x6ba3e25388d3fad4,4.6,19,https://www.google.com/maps/place//data=!4m2!3...,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,Closed,4,7
1,TACOS LA CABANA,0x808f879f35b5088b:0xe3541cec7a95bd88,5.0,2,https://www.google.com/maps/place//data=!4m2!3...,5–11PM,Closed,Closed,Closed,5–11PM,5–11PM,5–11PM,3,9
2,Tropical Park Liquors,0x88d9b99475d9fd7b:0xea6083d207b2471a,4.7,8,https://www.google.com/maps/place//data=!4m2!3...,10AM–10PM,10AM–10PM,10AM–12AM,10AM–12AM,10AM–12AM,10AM–12AM,10AM–10PM,4,7
3,The Nutrition Group,0x89c88de475520cc7:0xeff46469445b5212,3.2,17,https://www.google.com/maps/place//data=!4m2!3...,9AM–8PM,9AM–8PM,9AM–8PM,9AM–8PM,9AM–8PM,9AM–5PM,Closed,4,13
4,Top Cat Seafood Restaurant,0x864e9891e381f3df:0x4cefe6219bc9199c,3.9,8,https://www.google.com/maps/place//data=!4m2!3...,12–8PM,12–8PM,12–8PM,12–8PM,12–8PM,12–8PM,12–8PM,3,18

In [4]:
df_merged = pd.merge(relative_results, sitios, left_on='gmap_id', right_on='gmap_id', how='inner')
df_merged

,gmap_id,relative_results,name,avg_rating,num_of_reviews,url,monday,tuesday,wednesday,thursday,friday,saturday,sunday,category_general_id,id_estado
0,0x88dae191ee505917:0x6ba3e25388d3fad4,0x88dae1997e122d6b:0xfd776fa851f06d29,Oneyda's Bakery,4.6,19,https://www.google.com/maps/place//data=!4m2!3...,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,Closed,4,7
1,0x88dae191ee505917:0x6ba3e25388d3fad4,0x88dae2156941cbab:0xcb432ada773bd51c,Oneyda's Bakery,4.6,19,https://www.google.com/maps/place//data=!4m2!3...,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,8AM–6PM,Closed,4,7
2,0x808f879f35b5088b:0xe3541cec7a95bd88,None,TACOS LA CABANA,5.0,2,https://www.google.com/maps/place//data=!4m2!3...,5–11PM,Closed,Closed,Closed,5–11PM,5–11PM,5–11PM,3,9
3,0x88d9b99475d9fd7b:0xea6083d207b2471a,None,Tropical Park Liquors,4.7,8,https://www.google.com/maps/place//data=!4m2!3...,10AM–10PM,10AM–10PM,10AM–12AM,10AM–12AM,10AM–12AM,10AM–12AM,10AM–10PM,4,7
4,0x89c88de475520cc7:0xeff46469445b5212,0x89c88eade5400001:0x22870f08d03b9e6d,The Nutrition Group,3.2,17,https://www.google.com/maps/place//data=!4m2!3...,9AM–8PM,9AM–8PM,9AM–8PM,9AM–8PM,9AM–8PM,9AM–5PM,Closed,4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421514,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c730ea8fad5:0x4c7f9acbac593140,Palm Gardens,4.0,128,https://www.google.com/maps/place//data=!4m2!3...,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,3,24
421515,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c7eccb2979f:0x556840ac52b02ee2,Palm Gardens,4.0,128,https://www.google.com/maps/place//data=!4m2!3...,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,3,24
421516,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c7844d01273:0xba79acc08e88acf4,Palm Gardens,4.0,128,https://www.google.com/maps/place//data=!4m2!3...,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,8AM–2AM,3,24
421517,0x89c6c74f43a49b55:0x6be6995921c58b12,0x89c6c7af1a55f4f9:0x589bb93addf7fd95,Steak 48,4.6,308,https://www.google.com/maps/place//data=!4m2!3...,4–10PM,4–10PM,4–10PM,4–10PM,4–11PM,4–11PM,4–10PM,2,13
421518,0x89c6c74f43a49b55:0x6be6995921c58b12,0x89c6cbd067a3e745:0x388e665c8dcecf2e,Steak 48,4.6,308,https://www.google.com/maps/place//data=!4m2!3...,4–10PM,4–10PM,4–10PM,4–10PM,4–11PM,4–11PM,4–10PM,2,13

Filtraré por las columnas de interés.

In [5]:
tabla_final = df_merged[['gmap_id', 'relative_results']]
tabla_final

,gmap_id,relative_results
0,0x88dae191ee505917:0x6ba3e25388d3fad4,0x88dae1997e122d6b:0xfd776fa851f06d29
1,0x88dae191ee505917:0x6ba3e25388d3fad4,0x88dae2156941cbab:0xcb432ada773bd51c
2,0x808f879f35b5088b:0xe3541cec7a95bd88,None
3,0x88d9b99475d9fd7b:0xea6083d207b2471a,None
4,0x89c88de475520cc7:0xeff46469445b5212,0x89c88eade5400001:0x22870f08d03b9e6d
...,...,...
421514,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c730ea8fad5:0x4c7f9acbac593140
421515,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c7eccb2979f:0x556840ac52b02ee2
421516,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c7844d01273:0xba79acc08e88acf4
421517,0x89c6c74f43a49b55:0x6be6995921c58b12,0x89c6c7af1a55f4f9:0x589bb93addf7fd95
421518,0x89c6c74f43a49b55:0x6be6995921c58b12,0x89c6cbd067a3e745:0x388e665c8dcecf2e

Realizaré una búsqueda de **valores nulos.**

In [6]:
# Cuento los nulos en cada fila
cant_nulos = tabla_final.isnull().sum()
print(cant_nulos)

gmap_id                 0
relative_results    16430
dtype: int64

In [7]:
# Muestro las filas que contienen algún valor nulo
tabla_final[tabla_final.isnull().any(axis=1)]

                                      gmap_id relative_results
2       0x808f879f35b5088b:0xe3541cec7a95bd88             None
3       0x88d9b99475d9fd7b:0xea6083d207b2471a             None
13      0x864c2161e9d8649b:0x22061733a9698bcb             None
20      0x88e5b777902afc8b:0xfaef41b15c81b77a             None
21      0x88e5b53b107a2609:0x40106d3b48960d9d             None
...                                       ...              ...
421147   0x88c28d60ca8213f3:0x57b9d4d1d81fa81             None
421221  0x80c32afc1cf46e0d:0xda9c97debb0efe8d             None
421272   0x8640df3df8defd27:0x8a57d69cf70bbd9             None
421324  0x89c6c625ff5ca707:0xef03a7ab9f987253             None
421417  0x88915dbc938d1169:0x4b1c76257de7291f             None

[16430 rows x 2 columns]

In [8]:
# Calculo el porcentaje de nulos de la columna relative_results
nulos_relative_results = tabla_final['relative_results'].isnull().sum()
total_filas = len(tabla_final)
porcentaje_nulos = (nulos_relative_results / total_filas) * 100

print(porcentaje_nulos)

3.897807690756526

Podemos observar que la cantidad de nulos es baja y debido a que uno de los objetivos propuestos en este proyecto es identificar las mejores ubicaciones para nuevos locales basándose en la densidad de competidores y la demanda de usuarios, he decidido dejarlos. Son datos valiosos para el análisis. Voy a reemplazar los nulos por "sin competencia".

In [9]:
# Desactivo SettingWithCopyWarning
pd.options.mode.chained_assignment = None

In [10]:
# Reemplazo valores de tipo None o el texto "None" por "sin competencia"
tabla_final['relative_results'] = tabla_final['relative_results'].replace([None, "None"], "sin competencia")

In [11]:
# Filtro y muestro las filas donde relative_results es "sin competencia"
sin_competencia_filas = tabla_final[tabla_final['relative_results'] == "sin competencia"]
sin_competencia_filas

                                      gmap_id relative_results
2       0x808f879f35b5088b:0xe3541cec7a95bd88  sin competencia
3       0x88d9b99475d9fd7b:0xea6083d207b2471a  sin competencia
13      0x864c2161e9d8649b:0x22061733a9698bcb  sin competencia
20      0x88e5b777902afc8b:0xfaef41b15c81b77a  sin competencia
21      0x88e5b53b107a2609:0x40106d3b48960d9d  sin competencia
...                                       ...              ...
421147   0x88c28d60ca8213f3:0x57b9d4d1d81fa81  sin competencia
421221  0x80c32afc1cf46e0d:0xda9c97debb0efe8d  sin competencia
421272   0x8640df3df8defd27:0x8a57d69cf70bbd9  sin competencia
421324  0x89c6c625ff5ca707:0xef03a7ab9f987253  sin competencia
421417  0x88915dbc938d1169:0x4b1c76257de7291f  sin competencia

[16430 rows x 2 columns]

Voy a realizar una búsqueda de valores **duplicados.**

In [12]:
# Identifico y muestro filas duplicadas
duplicados = tabla_final[tabla_final.duplicated(keep=False)]
print(duplicados)

Empty DataFrame
Columns: [gmap_id, relative_results]
Index: []

No se han encontrado filas duplicadas.

Revisaré si los tipos de datos de las columnas son los que necesito de acuerdo al modelo relacional creado para la base de datos.

In [13]:
print(tabla_final.dtypes)

gmap_id             object
relative_results    object
dtype: object

In [ ]:
# Modifico el nombre de la columna "gmap_id" por "id_negocio"
tabla_final = tabla_final.rename(columns={'gmap_id': 'id_negocio'})
tabla_final

,id_negocio,relative_results
0,0x88dae191ee505917:0x6ba3e25388d3fad4,0x88dae1997e122d6b:0xfd776fa851f06d29
1,0x88dae191ee505917:0x6ba3e25388d3fad4,0x88dae2156941cbab:0xcb432ada773bd51c
2,0x808f879f35b5088b:0xe3541cec7a95bd88,sin competencia
3,0x88d9b99475d9fd7b:0xea6083d207b2471a,sin competencia
4,0x89c88de475520cc7:0xeff46469445b5212,0x89c88eade5400001:0x22870f08d03b9e6d
...,...,...
421514,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c730ea8fad5:0x4c7f9acbac593140
421515,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c7eccb2979f:0x556840ac52b02ee2
421516,0x89da6b8177ee49d5:0xbc9dfc53722fe1,0x89da6c7844d01273:0xba79acc08e88acf4
421517,0x89c6c74f43a49b55:0x6be6995921c58b12,0x89c6c7af1a55f4f9:0x589bb93addf7fd95
421518,0x89c6c74f43a49b55:0x6be6995921c58b12,0x89c6cbd067a3e745:0x388e665c8dcecf2e

Exportaré la tabla ya que está lista para ser utilizada en nuestra base de datos.

In [16]:
tabla_final.to_parquet(r"C:\Users\Juli\Desktop\v0_relative_results.parquet")